img, media {
  max-width: 100%; }

.embed-container {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }
  .embed-container .embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

body {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0ZDRkNCIvPjxzdG9wIG9mZnNldD0iODUlIiBzdG9wLWNvbG9yPSIjZjNmM2YzIi8+PHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiM2ZTZlNmUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4d4d4), color-stop(85%, #f3f3f3), color-stop(85%, #6e6e6e));
  background-image: -moz-linear-gradient(#d4d4d4, #f3f3f3 85%, #6e6e6e 85%);
  background-image: -webkit-linear-gradient(#d4d4d4, #f3f3f3 85%, #6e6e6e 85%);
  background-image: linear-gradient(#d4d4d4, #f3f3f3 85%, #6e6e6e 85%);
  background-attachment: fixed; }

#mini-panel-header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center; }

.site-logo {
  display: table;
  margin: 0 auto; }

.l-page {
  background-color: white;
  border: 1px solid black;
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.15);
  margin: 0 auto 35px;
  max-width: 960px;
  padding: 12px 24px;
  position: relative;
  top: 20px;
  width: 100%;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; }

.site-footer {
  background-color: #D4D4D4;
  padding: 1px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px; }

html {
  font-size: 100%;
  line-height: 1.5em; }

a {
  color: #205A79;
  text-decoration: none;
  word-wrap: break-word; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: #666666; }

.site-name {
  text-align: center;
  margin: 0; }
  .site-name a {
    color: black;
    text-align: center;
    text-decoration: none;
    font: bold 34px Arial,Helvetica,Sans-Serif; }
    .site-name a:hover {
      color: black; }

.site-slogan {
  font-size: 24px;
  margin: 0;
  text-align: center; }

.page-title {
  text-align: center; }

.node__title {
  margin: 1em 0 0;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em; }

.submitted {
  margin: 0 0 1em 0;
  text-align: center;
  font-size: 0.6875em;
  line-height: 2.18182em; }

.node__links {
  background-color: #D4D4D4;
  padding: 0 5px;
  font-size: 0.8125em;
  line-height: 1.84615em; }

.site-mission p {
  font-size: 14px;
  line-height: 1.5em;
  margin: 0; }

.site-footer p {
  font-size: 11px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  text-align: center; }

aside .block {
  background: #E0E5E6;
  border: 1px solid #B8C3C6;
  box-shadow: 0px 0px 3px 2px #b8c3c6;
  font-size: 16px;
  line-height: 1.2em;
  margin-bottom: 5px;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  aside .block .block__title {
    color: #2D3639;
    font: bold 16px Tahoma,Arial,Helvetica,Sans-Serif;
    padding: 0 10px; }
    aside .block .block__title::before {
      content: url("../images/BlockHeaderIcon.png");
      padding-right: 12px;
      position: relative;
      top: 2px; }
  aside .block .block__content {
    padding-left: 12px; }
  aside .block ul {
    padding-left: 12px;
    margin: 10px; }
    aside .block ul li {
      list-style-image: url("../images/BlockContentBullets.png") !important; }
      aside .block ul li a {
        color: #205A79;
        font-family: Tahoma,Arial,Helvetica,Sans-Serif;
        text-decoration: underline; }
        aside .block ul li a:hover {
          text-decoration: none; }
        aside .block ul li a:visited {
          color: #1A1A1A; }
  aside .block table {
    width: 100%; }

.breadcrumb {
  font-size: 16px; }

input[type=submit] {
  border: 1px solid #E0E5E6;
  box-shadow: 0px 0px 2px 2px #dddddd;
  display: block;
  height: 26px;
  font-family: Tahoma,Arial,Helvetica,Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
  padding: 0 9px;
  text-decoration: none;
  color: #EEF1F1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdlOTM5OSIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjN2U5Mzk5Ii8+PHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiM2ZDgwODYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDgwODYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7e9399), color-stop(60%, #7e9399), color-stop(60%, #6d8086), color-stop(100%, #6d8086));
  background-image: -moz-linear-gradient(#7e9399 0%, #7e9399 60%, #6d8086 60%, #6d8086 100%);
  background-image: -webkit-linear-gradient(#7e9399 0%, #7e9399 60%, #6d8086 60%, #6d8086 100%);
  background-image: linear-gradient(#7e9399 0%, #7e9399 60%, #6d8086 60%, #6d8086 100%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  input[type=submit]:hover {
    border-color: #303030;
    color: #BDBDBD;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZlNmU2ZSIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjNmU2ZTZlIi8+PHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiM1NjU2NTYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NjU2NTYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6e6e6e), color-stop(60%, #6e6e6e), color-stop(60%, #565656), color-stop(100%, #565656));
    background-image: -moz-linear-gradient(#6e6e6e 0%, #6e6e6e 60%, #565656 60%, #565656 100%);
    background-image: -webkit-linear-gradient(#6e6e6e 0%, #6e6e6e 60%, #565656 60%, #565656 100%);
    background-image: linear-gradient(#6e6e6e 0%, #6e6e6e 60%, #565656 60%, #565656 100%); }
  input[type=submit]:active {
    border-color: #328DBD;
    color: #E7F2F9;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRkNGQ0ZCIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjNGQ0ZDRkIi8+PHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiMzNDM0MzQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDM0MzQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(60%, #4d4d4d), color-stop(60%, #343434), color-stop(100%, #343434));
    background-image: -moz-linear-gradient(#4d4d4d 0%, #4d4d4d 60%, #343434 60%, #343434 100%);
    background-image: -webkit-linear-gradient(#4d4d4d 0%, #4d4d4d 60%, #343434 60%, #343434 100%);
    background-image: linear-gradient(#4d4d4d 0%, #4d4d4d 60%, #343434 60%, #343434 100%); }

.sf-main-menu {
  display: table;
  margin: 0 auto;
  font-family: Tahoma,Arial,Helvetica,Sans-Serif; }
  .sf-main-menu > li {
    margin: 0 5px; }
    .sf-main-menu > li a {
      text-decoration: none;
      color: black; }
    .sf-main-menu > li > a {
      border: 1px solid transparent;
      padding: 0 12px;
      font-size: 0.9375em;
      line-height: 1.6em;
      -moz-border-radius-topleft: 10px;
      -webkit-border-top-left-radius: 10px;
      border-top-left-radius: 10px;
      -moz-border-radius-bottomright: 10px;
      -webkit-border-bottom-right-radius: 10px;
      border-bottom-right-radius: 10px; }
      .sf-main-menu > li > a:hover {
        color: #E7F2F9;
        border: 1px solid #303030;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdmN2Y3ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzVmNWY1ZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7f7f7f), color-stop(100%, #5f5f5f));
        background-image: -moz-linear-gradient(#7f7f7f 0%, #5f5f5f 100%);
        background-image: -webkit-linear-gradient(#7f7f7f 0%, #5f5f5f 100%);
        background-image: linear-gradient(#7f7f7f 0%, #5f5f5f 100%); }
    .sf-main-menu > li.sfHover > ul {
      top: 1.5em; }
      .sf-main-menu > li.sfHover > ul a {
        background-color: #5F5F5F;
        color: #E7F2F9;
        padding-left: 12px;
        font-size: 0.75em;
        line-height: 2em; }
        .sf-main-menu > li.sfHover > ul a:hover {
          background-color: #8C8C8C;
          color: black; }
  .sf-main-menu > li.active-trail > a {
    border: 1px solid #1A4861;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjlmOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NkZDVkNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f9f9), color-stop(100%, #cdd5d7));
    background-image: -moz-linear-gradient(#f7f9f9 0%, #cdd5d7 100%);
    background-image: -webkit-linear-gradient(#f7f9f9 0%, #cdd5d7 100%);
    background-image: linear-gradient(#f7f9f9 0%, #cdd5d7 100%); }
    .sf-main-menu > li.active-trail > a:hover {
      color: #E7F2F9;
      border: 1px solid #303030;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdmN2Y3ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzVmNWY1ZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7f7f7f), color-stop(100%, #5f5f5f));
      background-image: -moz-linear-gradient(#7f7f7f 0%, #5f5f5f 100%);
      background-image: -webkit-linear-gradient(#7f7f7f 0%, #5f5f5f 100%);
      background-image: linear-gradient(#7f7f7f 0%, #5f5f5f 100%); }

#block-widgets-s-socialmedia-share-default {
  background-color: #D4D4D4;
  margin-top: 10px;
  padding: 10px; }

#widgets-element-socialmedia_share-default {
  text-align: center; }
  #widgets-element-socialmedia_share-default .widgets-element-horizontal {
    display: inline-block;
    float: none !important;
    margin: 0 4px; }

/*# sourceMappingURL=omega-vfp.no-query.css.map */
