aside .block {
	background: #E0E5E6;
	border: 1px solid #B8C3C6;
	box-shadow: 0px 0px 3px 2px rgba(184,195,198,1);
	font-size: 16px;
	line-height: 1.2em;
	margin-bottom: 10px;
	padding: 5px;
	@include border-radius(10px);

	.block__title {
		color: #2D3639;
		font: bold 16px Tahoma,Arial,Helvetica,Sans-Serif;
		padding: 0 10px;

		&::before {
			content: url('../images/BlockHeaderIcon.png');
			padding-right: 12px;
			position: relative;
  			top: 2px;
		}
	}

	ul {
		padding-left: 20px;
		margin: 10px;
	
		li {
			list-style-image: url('../images/BlockContentBullets.png');
	  		list-style-type: square;
	
	  		a {
	  			color: #205A79;
				font-family: Tahoma,Arial,Helvetica,Sans-Serif;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
	
				&:visited {
					color: #1A1A1A;
				}
	  		}
		}
	}
}