.sf-main-menu {
	display: table;
  	margin: 0 auto;
  	font-family: Tahoma,Arial,Helvetica,Sans-Serif;

	>li{
		margin: 0 5px;

		a {
			text-decoration: none;
			color: black;
		}

		>a {
			border: 1px solid transparent;
			padding: 0 12px;
			@include adjust-font-size-to(15px);
			@include border-top-left-radius(10px);
		  	@include border-bottom-right-radius(10px);

			&:hover {
				@include menu-hover;
			}
		}

		&.sfHover > ul {
			top: 1.5em;

			a {
				background-color: #5F5F5F;
				color: #E7F2F9;
				padding-left: 12px;
				@include adjust-font-size-to(12px);

				&:hover {
					background-color: #8C8C8C;
					color: black;
				}
			}
		}
	}

	>li.active-trail>a {
		@include menu-active;

		&:hover {
			@include menu-hover;
		}
	}
}