#block-widgets-s-socialmedia-share-default {
	background-color: $accent-color;
	padding: 10px;
}

#widgets-element-socialmedia_share-default {
	text-align: center;

	.widgets-element-horizontal {
		display: inline-block;
		float: none !important;
		margin: 0 4px;
	}
}
