body {
	@include background-image(linear-gradient(#d4d4d4 , #f3f3f3 85%, #6e6e6e 85%));
	background-attachment: fixed;
}

#mini-panel-header {
	@include display(flex);
	@include flex-flow(row wrap);
	@include justify-content(space-around);
	@include align-items(center);

}
.site-logo {
	display: table;
	margin: 0 auto;
}

.l-page {
	background-color: white;
	border: 1px solid black;
	box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.15);
	margin: 0 auto 35px;
	max-width: 960px;
	padding: 12px 24px;
	position: relative;
	top: 20px;
	width: 100%;

	@include border-radius(20px);
}

.l-main {
	margin-bottom: 0 !important;
}

.site-footer {
	background-color: $accent-color;
	padding: 1px;
	@include border-bottom-left-radius(10px);
	@include border-bottom-right-radius(10px);
}

#book-navigation-54 ul.menu {
	display: table;
    margin: 1em auto;
    padding: 0;

    li {
    	list-style: none;
    }
}

.book-navigation__links a {
	color: black;
	font-weight: bold;
}

ul.links.links--inline.node__links {
	clear: both;
    display: flex;
    justify-content: center;
}

.read-more-link {
	clear: both;
	text-align: right;
}

.node-type-press-release {
	.panel-display.panel-2col-bricks {
		max-width: 960px;
	    background: #FFF;
	    margin: 40px auto;
	    position: relative;
	    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	    padding: 5%;
	    box-sizing: border-box;

	    &:before, &:after {
	      content: "";
	      position: absolute;
	      z-index: -1;
	      box-shadow: 0 0 20px rgba(0,0,0,0.8);
	      top: 50%;
	      bottom: 0;
	      left: 10px;
	      right: 10px;
	      border-radius: 100px / 10px;
	    }
	}

	.field--name-title {
		text-align: center;
		line-height: 1.5;
	}

	.field-name-field-upload-document {
		text-align: center;
		margin: 1em 0;
    	font-size: .8em;

		.label-inline,
		.file {
		    display: inline-block;
		}
	}

	.field--type-computed {
		text-align: center;
		margin-bottom: 2em;

		h4 {
			margin: 0;
	    	display: inline-flex;

	    	&:after {
	    		content: '\00a0';
	    	}
	    }
	}
}