body {
	@include background-image(linear-gradient(#d4d4d4 , #f3f3f3 85%, #6e6e6e 85%));
	background-attachment: fixed;
}

#mini-panel-header {
	@include display(flex);
	@include flex-flow(row wrap);
	@include justify-content(space-around);
	@include align-items(center);

}
.site-logo {
	display: table;
	margin: 0 auto;
}

.l-page {
	background-color: white;
	border: 1px solid black;
	box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.15);
	margin: 0 auto 35px;
	max-width: 960px;
	padding: 12px 24px;
	position: relative;
	top: 20px;
	width: 100%;

	@include border-radius(20px);
}

.l-main {
	margin-bottom: 0;
}

.site-footer {
	background-color: $accent-color;
	padding: 1px;
	@include border-bottom-left-radius(10px);
	@include border-bottom-right-radius(10px);
}

#book-navigation-54 ul.menu {
	display: table;
    margin: 1em auto;
    padding: 0;

    li {
    	list-style: none;
    }
}

.node-type-book {
	.book-navigation__links a {
		color: black;
		font-weight: bold;
	}

	ul.links.links--inline.node__links {
		clear: both;
	    display: flex;
	    justify-content: center;
	}
}

.read-more-link {
	clear: both;
	text-align: right;
}