@include establish-baseline;

a {
	color: $link-color;
	text-decoration: none;
	word-wrap: break-word;

	&:hover {
		text-decoration: underline;
	}
	&:visited {
		color: $link-color-visited;
	}
}

.site-name {
	text-align: center;

	a {
		color: $site-name-color;
		text-align: center;
		text-decoration: none;
		font-size: 42px;
	
		&:hover {
			color: $site-name-color;
		}
	}
}

.site-slogan {
	font-size: 36px;
	text-align: center;
}

.node__title {
	text-align: center;
	@include adjust-font-size-to(24px, 6/4);
}

.submitted {
	@include adjust-font-size-to(11px);
}

.node__links {
	background-color: $accent-color;
	padding: 0 5px;

	@include adjust-font-size-to(13px);
}

.site-mission p {
	@include adjust-font-size-to(14px);
}

.site-footer p {
	font-size: 11px;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	text-align: center;
}